$breakpoints: (
	'xs-phone': 480px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'components/normalize';

@import 'components/variables';

@import 'components/include-media';

@import 'components/mixins';

@import 'components/form';

@import 'components/base';

@import 'components/grid';

@import 'components/button';

@import 'components/nav';

@import 'components/card';

@import 'layout/common';

@import 'layout/header';

@import 'layout/footer';

// font Open Sans

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');


// icons
@font-face {
	font-family: 'icomoon';
	src:
			url('../fonts/icomoon.ttf?9fpsjg') format('truetype'),
			url('../fonts/icomoon.woff?9fpsjg') format('woff'),
			url('../fonts/icomoon.svg?9fpsjg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-drop:before {
	content: "\e909";
}
.icon-mark:before {
	content: "\e900";
}
.icon-avokado:before {
	content: "\e902";
}
.icon-berry:before {
	content: "\e903";
}
.icon-man:before {
	content: "\e905";
}
.icon-linkedin:before {
	content: "\e906";
}
.icon-youtube:before {
	content: "\e907";
}
.icon-facebook:before {
	content: "\e908";
}
.icon-twitter:before {
	content: "\e901";
}
