.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.bg-green {
	background-color: $green;
}

.bg-coral {
	background-color: $coral;
}

.text-coral {
	color: $coral;
}


.hero {
	position: relative;
	z-index: -1;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -8%;
		height: 110px;
		width: 100%;
		background: $coral;
		opacity: 0.3;
		transform: skewY(-2deg);
		overflow: hidden;

		@include media('>=tablet') {
			height: 160px;
		}
	}

	.slogan {
		position: absolute;
		bottom: 10%;
		left: 5%;
		color: $white;
		line-height: 1.75;
		text-transform: uppercase;
	}

	h1 {
		font-size: 30px;
		@include media('>=tablet') {
			font-size: 35px;
		}
		@include media('>=desktop') {
			font-size: $h1-font-size;
		}

		&::after {
			content: '/';
			color: $green;
		}
	}

	p {
		font-size: 12px;
		padding-left: 120px;
		font-weight: bold;
		@include media('>=tablet') {
			padding-left: 160px;
			font-size: 15px;
		}

		&::after {
			content: '/';
			color: $coral;
		}
	}
}

.section-info {
	padding: 60px 0;
	@include media('>=tablet') {
		padding: 80px 0;
	}
	@include media('>=desktop') {
		padding: 110px 0;
	}

	.img-info-box {
		height: 44px;
		margin-bottom: 15px;
		@include media('>=tablet') {
			margin-bottom: 22px;
		}
		@include media('>=desktop') {
			margin-bottom: 30px;
		}

		img {
			height: 100%;
		}
	}

	h3 {
		color: $dark-blue;
		margin-bottom: 15px;
		font-weight: normal;
		@include media('>=tablet') {
			margin-bottom: 22px;
		}
		@include media('>=desktop') {
			margin-bottom: 30px;
		}
	}

	p {
		color: #8297a7;
		margin-bottom: 28px;
		//	fw reg
	}

	a {
		color: $blue;
		transition: color .15s ease-in;

		&:hover {
			color: $white;
		}
	}

	a,
	p {
		font-size: 14px;
	}

	.info-box-item {
		margin-bottom: 35px;
		position: relative;
		@include media('>=tablet') {
			&:nth-child(n+3) {
				margin-bottom: 0;
			}
		}

		@include media('>=desktop') {
			margin-bottom: 0;
		}

		a {
			position: absolute;
			bottom: 0;
		}
	}


}

.section-about {
	.card {
		@include media('>=tablet') {
			&:nth-child(odd) {
				flex-direction: row-reverse;
			}

			&:nth-child(even) {
				flex-direction: row;
			}
		}

		&:nth-child(odd) .track-text {
			right: 5%;
			left: auto;
		}

		&:nth-child(even) .track-text {
			left: 5%;
			right: auto;
		}

	}

	.card-image {
		position: relative;
		@include media('>=tablet') {
			min-width: 60%;
			height: auto;
		}

		.track-text {
			position: absolute;
			bottom: 10%;
			color: $white;
			display: flex;

			img {
				margin: 0 5px;
			}

			i {
				font-size: 25px;
				color: $coral;
			}
		}
	}

	.card-description {
		h2 {
			margin-bottom: 10px;
		}

		i {
			color: #e3e9ea;
			font-size: 20px;
		}

		@include media('>=tablet') {
			min-width: 40%;
			height: auto;
		}
	}
}

.section-health {
	.row-health {
		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.card-description {
		flex-grow: 1;
		text-align: left;
	}

	.card {
		box-sizing: border-box;

		&:nth-child(even) {
			background-color: $green;

			h2,
			p,
			h4,
			i,
			data {
				color: $white;
			}

			h4 {
				font-size: 17px;
			}
		}

		&:nth-child(odd) {
			i {
				color: #e3e9ea;
			}
		}

		@include media('>=tablet') {
			flex: 0 0 40%;

			&:nth-child(4n-2),
			&:nth-child(4n-1) {
				flex: 0 0 60%;
			}
		}

		i {
			font-size: 28px;
		}
	}

	.card-image {
		position: relative;
	}

	.description-title-holder {
		display: flex;
		justify-content: space-between;
	}

	.description-title {
		display: flex;
		flex-direction: column;
		align-items: start;
		text-transform: uppercase;
	}

	h2 {
		margin-bottom: 20px;
		@include media('>=tablet') {
			margin-bottom: 40px;
			font-size: 35px;
		}
	}

	.summer {
		h2 {
			@include media('>=tablet') {
				font-size: 40px;
			}
		}

		.status {
			position: absolute;
			left: 5%;
			right: 5%;
			top: 10%;
			display: flex;
			font-weight: 500;
			justify-content: space-between;

			.topic {
				display: flex;
				align-items: center;

				p {
					margin-right: 10px;
				}
			}

			data,
			.topic {
				text-transform: uppercase;
				font-size: 14px;
			}

			i {
				font-size: 16px;
			}
		}
	}
}

.section-outro {
	color: $white;
	display: flex;
	height: 80vh;
	position: relative;
	z-index: -1;

	.row-outro {
		padding: 250px 0 80px;
		margin-bottom: 50px;
		display: inline-block;
		text-align: center;

		h2 {
			font-size: 35px;
			margin-bottom: 25px;
			@include media('>=tablet') {
				font-size: 45px;
			}
		}

		p {
			font-size: 14px;
			margin: 0 auto;
			max-width: 60%;
			@include media('>=tablet') {
				font-size: $font-size-base;
			}
		}
	}

	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: -8%;
		height: 120px;
		width: 100%;
		background: $bg-footer;
		//opacity: 0.7;
		transform: skewY(-4deg);
		overflow: hidden;

		@include media('>=tablet') {
			height: 120px;
		}
	}

	span {
		content: '';
		display: block;
		position: absolute;
		bottom: -9%;
		height: 90px;
		width: 100%;
		background: $coral;
		opacity: 1;
		transform: skewY(5deg);
		overflow: hidden;
		z-index: 1;
		@include media('>=tablet') {
			bottom: -70px;
			height: 80px;
			transform: skewY(2deg);
		}
	}

	&::before {
		transform: skewY(4deg);
	}
}
