.footer {
	background-color: $bg-footer;
	color: #8297a7;
	padding: 50px 0;



	@include media('>=tablet') {
		padding: 70px 0;

	}

	h5 {
		color: $white;
		margin-bottom: 20px;
		@include media('>=tablet') {
			margin-bottom: 30px;
		}
	}
	p {
		font-size: 14px;
	}
}

.footer-socials {
	@extend %listreset;
	display: flex;
	justify-content: space-between;
}

