.footer {
	background-color: $bg-footer;
	color: #8297a7;
	padding: 50px 0;


	@include media('>=tablet') {
		padding: 70px 0;

	}

	h5 {
		color: $white;
		margin-bottom: 20px;
		@include media('>=tablet') {
			margin-bottom: 30px;
		}
	}

	p {
		font-size: 14px;
	}

	.form-group {
		@include media('>=tablet') {
			display: flex;
			padding-top: 20px;
			margin: 0 -5px;
			align-items: stretch;
		}

		.form-item {
			@include media('>=tablet') {
				padding: 0 5px;

				&:nth-child(1n+2) {
					width: 25%;
				}

				&:nth-child(2) {
					width: 50%;
				}
			}
		}

		input {
			width: 100%;
			padding: 10px;
			margin-bottom: 30px;
			border-radius: 5px;
			border: 2px solid transparent;
			font-size: 15px;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 1px $green;
				border: 2px solid $green;
			}
		}

		button {
			display: inline-block;
			margin-bottom: 30px;
			width: 100%;
			padding: 25px 30px;
			border-radius: 5px;
			font-size: 15px;
			font-weight: 700;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				background-color: $coral;
			}

			@include media('>=tablet') {
				height: 100%;
			}
		}

		button,
		input {
			@include media('>=tablet') {
				padding: 15px 20px;
				margin-bottom: 0;
			}
		}
	}
}

.footer-box {
	margin-bottom: 30px;
}

.footer-socials {
	@extend %listreset;
	display: flex;
	justify-content: space-between;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		height: 51px;
		width: 51px;
		font-size: 20px;
		border-radius: 50%;
		background-color: $green;
		text-decoration: none;
		transition: color .25s ease-in-out, background-color .3s ease-in;

		@include media('>=desktop') {
			height: 40px;
			width: 40px;
		}

		@media(min-width: 1100px) {
			height: 51px;
			width: 51px;
		}

		&:hover {
			color: $coral;
			background-color: $green;
		}
	}

	.icon-facebook {
		background-color: $social-dark-blue;
	}

	.icon-twitter {
		background-color: $social-blue;
	}

	.icon-youtube {
		background-color: $social-red;
	}

	.icon-linkedin {
		background-color: $social-darken-blue;
	}
}

