.btn {
	-webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	-o-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 20px;
	border-radius: 3px;
	text-align: center;
	border: none;

	&:hover {
		text-decoration: none;
		outline: none;
	}


	&.btn-primary {
		background-color: $blue;
		color: #fff;

		&:hover {
			background-color: $dark-blue;
		}
	}

	&.btn-secondary {
		background-color: $green;
		color: #fff;

		&:hover {
			background-color: $dark-green;
		}
	}
}