.menu {
	@extend %listreset;
	position: absolute;
	right: 0;
	left: 0;
	top: 100%;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
	visibility: hidden;
	background-color: $green;
	-webkit-transition: visibility .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: visibility .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out, visibility .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, opacity .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;

	@include media('>=tablet') {
		background-color: transparent;
		opacity: 1;
		visibility: visible;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: static;
	}

	.active {
		background-color: $green;
		@include media('>=tablet') {
			background-color: transparent;
		}
		&::after {
			@include media('>=tablet') {
				content: '';
				position: absolute;
				background: none repeat scroll 0 0 transparent;
				bottom: 0;
				left: 0;
				background: $green;
				height: 3px;
				width: 100%;
				-webkit-transition: width .3s ease 0s, left .3s ease 0s;
				-o-transition: width .3s ease 0s, left .3s ease 0s;
				transition: width .3s ease 0s, left .3s ease 0s;
			}
		}
	}

	a {
		display: block;
		padding: 10px;
		margin-bottom: 1px;
		text-decoration: none;
		font-weight: 500;
		background-color: $coral;
		text-transform: uppercase;
		-webkit-transition: background-color .3s ease-in, color .3s ease;
		-o-transition: background-color .3s ease-in, color .3s ease;
		transition: background-color .3s ease-in, color .3s ease;
		@include media('>=tablet') {
			position: relative;
			margin: 0 20px;
			padding: 0 5px 5px;
			white-space: nowrap;
			background-color: transparent;
			display: inline-block;
			-webkit-transition: background-color .3s ease-in, color .3s ease;
			-o-transition: background-color .3s ease-in, color .3s ease;
			transition: background-color .3s ease-in, color .3s ease;
		}


		&::after {
			@include media('>=tablet') {
				content: '';
				position: absolute;
				background: none repeat scroll 0 0 transparent;
				bottom: 0;
				left: 50%;
				background: $green;
				height: 3px;
				width: 0;
				-webkit-transition: width .3s ease 0s, left .3s ease 0s;
				-o-transition: width .3s ease 0s, left .3s ease 0s;
				transition: width .3s ease 0s, left .3s ease 0s;
			}
		}

		&:hover {
			background-color: $green;
			@include media('>=tablet') {
				background-color: transparent;

				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}